.header {
  flex:2 ;

  display: flex;
  flex-direction: row;
  align-items: center;        
  justify-content: center;    

  width: 95%;
  color:rgb(20, 20, 20);
}

.header > * {
  margin: 0 8px;
}

.answereBox {
  flex: 30 ;

  display: flex;
  flex-direction: row;
  align-items: center;        
  justify-content: center;    

  width: 95%;
  color:rgb(20, 20, 20);
}

.answereBox > * {
  margin: 0 1%;
}

.message {
  position: absolute;
  color:rgb(59, 59, 59);
  font-size: 24px;
  font-weight: bold;
}