@import "tailwindcss";

html, body {
  font-family:
    "Segoe UI",
    "ヒラギノ丸ゴ ProN",
    "Hiragino Maru Gothic Pro",
    "メイリオ",
    "Yu Gothic",
    "游ゴシック",
    "ＭＳ Ｐゴシック",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-image: url("data:image/svg+xml,%3Csvg width='500' height='500' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='150' y='150' width='80' height='80' rx='12' ry='12' fill='rgba(255,200,200,0.03)' /%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 500px 500px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100vw; 
}

/* 実質html */
:root {  
  display: flex;
  flex-direction: column;
  height: 100vh;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(49, 49, 49);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blinkingParticle {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: blink 10s infinite ease-in-out;
  pointer-events: none;
  z-index: -1;
}

@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 0.1; }
}

/* スマホ版 */
@media (max-width: 768px) {
  html, body  {
    background-image: url("data:image/svg+xml,%3Csvg width='300' height='300' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='50' y='50' width='30' height='30' rx='6' ry='6' fill='rgba(255,200,200,0.03)' /%3E%3C/svg%3E");
  }
}