@import "tailwindcss";

html, body {
  font-family:
    "Segoe UI",
    "ヒラギノ丸ゴ ProN",
    "Hiragino Maru Gothic Pro",
    "メイリオ",
    "Yu Gothic",
    "游ゴシック",
    "ＭＳ Ｐゴシック",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100vw; 
}

/* 実質html */
:root {  
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  height: 100vh;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(49, 49, 49);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
