.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  padding: 2rem;
}

.container h1, 
.container p {
  text-align: center;
  display: block;
  font-size: 3rem;
  font-weight: bold;
  color: antiquewhite; 
  font-size: 2rem;
}

.table {
  text-align: center;
  width: 50vw;
  border-collapse: collapse;
  margin-top: 1.5rem;
  font-size: 1rem;
  box-shadow: 0 0 1vw rgba(255, 255, 255, 0.1);
}

.table th {
  background-color: #222222;
  color: #ffffff;
  padding: 1.5rem;
  text-align: center;
  font-weight: bold;
  border: 1px solid #444;
}

.table td {
  padding: 0.75rem;
  text-align: center;
  border: 1px solid #444;
}

.table tbody tr td:nth-child(3),
.table tbody tr td:nth-child(4) {
  font-size: 0.75rem;
}

.table tbody tr:nth-child(even) {
  background-color: #303030;
}

.table tbody tr:nth-child(odd) {
  background-color: #2a2a2a;
}

.table tbody tr:hover {
  background-color: #616161;
}

.smallMath {
  background-color: #2e2e2e;
}